@import '../../style/minixs';

.team{
    min-height: 100vh;
    padding: 50px 20px;

    .teambox {
        min-height: 94vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: 1px solid gray;
        color: white;

        .teamimg {
            margin: auto;
            // background-color: gray;
            width: 100%;
            height: auto;
            .imgte{
                justify-content: center;
                width: auto;
                height: 350px;
            }

            @include respond(phone) {
                width: 250px;
                height: 300px;
            }
        }
    }
}