// FONTS
$Heading: 2.5rem;
$Sub-heading: 1.5rem;
$Paragraph: 0.5rem;

//COLORS
$Heading-color: red;
$Sub-heading-color: blue;
$Paragraph-color: yellow;
$Background-color: green;

//Darks Theme
.darkmode {
    background-color: rgb(100,100,100);
    color: white;
}